<div class="container">
    <div class="button-wrapper">
        <!-- <button class="btn btn-primary" [disabled]="disableCreateButton" (click)="createProfile()">Create Profile</button> &nbsp;
        <button class="btn btn-primary" [disabled]="disableUpdateButton" (click)="updateProfile()">Update Profile</button> &nbsp; -->
        <h3 *ngIf="!disableCreateButton"> Create Profile</h3>
        <h3  *ngIf="!disableUpdateButton"> Update Profile</h3>
    </div>
    <hr/>
<br>

    <div class="form-wrapper">
        <form [formGroup]="profileForm">
            <div *ngIf="errmsgshow">
                <p class="text-danger">{{ errmsg }}</p>
              </div>
              <div *ngIf="successmsgshow">
                <p class="text-primary">{{ successmsg }}</p>
              </div>
            <div class="col-lg-6 mt-2">
                <label for="firstName" class="form-label">First Name</label>
                <input id="firstName" type="text" class="form-control" formControlName="firstName"
                    placeholder="First Name">
            </div>
            <div class="col-lg-6 mt-2">
                <label for="lastName" class="form-label">Last Name</label>
                <input id="lastName" type="text" class="form-control" formControlName="lastName"
                    placeholder="Last Name">
            </div>
            <div class="col-lg-6 mt-2">
                <label for="address" class="form-label">Address</label>
                <textarea id="address" class="form-control" formControlName="address"
                style="height: 100px" placeholder="Address Details"></textarea>
            </div>

            <div class="col-lg-6 mt-2">
                <label for="associationUnit" class="form-label">Association</label>
                <select id="associationUnit" class="form-select" aria-label="Default select example"
                    formControlName="associationUnit">
                    <option value="">Select Unit</option>
                    <option value="1">Kochi</option>
                    <option value="2">Trivandrum</option>
                    <option value="3">Calicut</option>
                </select>
            </div>

            <div class="col-lg-6 mt-2">
                <label for="mobileNumber" class="form-label">Mobile No:</label>
                <input id="mobileNumber" type="text" class="form-control" formControlName="mobileNo"
                    placeholder="Enter Mobile number">
            </div>

            <div class="col-lg-6 mt-2">
                <div class="row">

                    <label for="stdCode" class="form-label">STD code</label>
                    <div class="col-lg-6">
                        <input id="stdCode" type="text" class="form-control" formControlName="landlineCode"
                            placeholder="STD code">
                    </div>
                    <div class="col-lg-6">
                        <!-- <label for="landlineNumber" class="form-label">Landline no:</label> -->
                        <input id="landlineNumber" type="text" class="form-control" formControlName="landlineNo"
                            placeholder="Landline number">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-2">
                <label for="email" class="form-label">Email</label>
                <input id="email" type="email" class="form-control" formControlName="email" placeholder="abc@gmail.com">
            </div>

            <div class="col-lg-6 mt-2">
                <label for="dateofBirth" class="form-label">Date of Birth</label>
                <div id="dateofBirth" class="input-group">
                    <input class="form-control" placeholder="YYYY-MM-DD" formControlName="dateOfBirth"
                        [maxDate]="maxDate" [minDate]="{year: 1900, month: 1, day: 1}" ngbDatepicker
                        #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button"><i
                        class="fa fa-calendar" style="color:rgb(13, 13, 14);"></i></button>
                </div>
            </div>

            <div class="col-lg-6 mt-2">
                <label for="spouseName" class="form-label">Spouse Name</label>
                <input id="spouseName" type="text" class="form-control" formControlName="spouseName"
                    placeholder="Spouse Name">
            </div>

            <div class="col-lg-6 mt-2">
                <label for="spouseDOB" class="form-label">Spouse DOB</label>
                <div id="spouseDOB" class="input-group">
                    <input type="text" class="form-control" placeholder="YYYY-MM-DD" formControlName="spouseDOB"
                        [maxDate]="maxDate" [minDate]="{year: 1900, month: 1, day: 1}" ngbDatepicker
                        #d="ngbDatepicker" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"><i
                            class="fa fa-calendar" style="color:rgb(13, 13, 14);"></i></button>
                </div>

            </div>

            <div class="col-lg-6 mt-2">
                <div class="row">
                    <label for="maleChildren" class="form-label">No: of children</label>
                    <div class="col-lg-6">
                        <input id="maleChildren" type="number" class="form-control" formControlName="maleChildren"
                            placeholder="Male">
                    </div>
                    <div class="col-lg-6">
                        <input id="femaleChildren" type="number" class="form-control" formControlName="femaleChildren"
                            placeholder="Female">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mt-2">
                <label for="profilePhoto" class="form-label">Photo</label>
                <input id="profilePhoto" type="file" class="form-control" formControlName="profilePhoto"
                    placeholder="Browse">
            </div>

            <div class="col-lg-6 mt-2">
                <label for="remarks" class="form-label">Remarks</label>
                <textarea id="remarks" class="form-control" formControlName="notes"
                style="height: 100px" placeholder="Remarks if any"></textarea>
            </div>

            <div class="col-lg-6 mt-2">
                <button class="btn btn-sm btn-primary mr-3" *ngIf="!disableCreateButton" (click)="createUser()">Save</button> 
                <button class="btn btn-sm btn-primary mr-3" *ngIf="!disableUpdateButton" (click)="updateUserProfile()">Update</button>
                <button class="btn btn-sm btn-info" (click)="resetProfile()">Reset</button>
            </div>


        </form>
    </div>

</div>