<div class="container">
    <div class="button-wrapper">       
        <button class="btn btn-primary" (click)="createProfile()">Create Profile</button> &nbsp;
        <button class="btn btn-primary" (click)="updateProfile()">Update Profile</button> &nbsp;       
    </div>
    <div>
        <form [formGroup]="profileForm" (ngSubmit)="createUser()">
            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="firstName"  placeholder="First Name"  >
            </div>
            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="lastName"  placeholder="Last Name">
            </div>
            <div class="col-lg-6 mt-2">
                <textarea class="form-control" formControlName="address"  placeholder="Address Details"></textarea>
            </div>

            <div class="col-lg-6 mt-2">
                <!-- <input type="text" class="form-control" formControlName="associationUnit" [disabled]=disableProfile placeholder="Select Unit"> -->
                <select class="form-select" formControlName="associationUnit"  >
                    <option selected>Select Unit</option>
                    <option value="1">Kochi</option>
                    <option value="2">Trivandrum</option>
                    <option value="3">Calicut</option>
                  </select>
            </div>

            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="mobileNo"  placeholder="Enter Mobile number">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="landlineCode"  placeholder="STD code">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="landlineNo" placeholder="Landline number">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="email" class="form-control" formControlName="email"  placeholder="abc@gmail.com">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="dateOfBirth"  placeholder="Date of Birth">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="text" class="form-control" formControlName="spouseName"  placeholder="Spouse Name">
            </div>

            <div class="col-lg-6 mt-2">
                <!-- <input type="text" class="form-control" formControlName="spouseDOB" [disabled]=disableProfile placeholder="Spouse Date of Birth"> -->

                <!-- <ngb-datepicker class="form-control" formControlName="spouseDOB" placeholder="Spouse Date of Birth" ></ngb-datepicker> -->

                <div class="input-group">
                    <input
                        class="form-control"
                        placeholder="yyyy-mm-dd"
                        formControlName="spouseDOB"
                        ngbDatepicker
                        #d="ngbDatepicker"
                    />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
                </div>

            </div>

            <div class="col-lg-6 mt-2">
                <input type="number" class="form-control" formControlName="maleChildren"  placeholder="Male">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="number" class="form-control" formControlName="femaleChildren"  placeholder="Female">
            </div>

            <div class="col-lg-6 mt-2">
                <input type="file" class="form-control" formControlName="profilePhoto"  placeholder="Browse">
            </div>

            <div class="col-lg-6 mt-2">
                <textarea class="form-control" formControlName="notes"  placeholder="Remarks if any"></textarea>
            </div>

            <div class="col-lg-6 mt-2"  >
                <button class="btn btn-sm btn-primary">Save</button>
            </div>
            <div class="col-lg-6 mt-2"  >
                <button class="btn btn-sm btn-info">Reset</button>
            </div>
        </form>
    </div>
    
</div>
