<div class="container">

    <div class="titleWrapper">

        <h2> Darma - DUBAI AIRPORT RETURNEES MALAYALEE ASSOCIATION</h2>
        <hr />
        <p class="indent">Association was formed during the year 2012 by the members from Kerala worked at Dubai
            Airports and its
            associated companies such as Airlines, Civil Aviation, Catering, Dnata, Aviation fuelling, Cargo and any
            other concerns closely related to Dubai Airport Operations. The membership to the association is restricted
            for the candidates retired, returned or presently working with Dubai Airports and its associated companies.
            Association functions in four units such as Thiruvananthapuram, Kochi, Trissur and Calicut under the Central
            Board.</p>
        <p class="indent">Association was formed during the year 2012 by the members from Kerala worked at Dubai
            Airports and its
            associated companies such as Airlines, Civil Aviation, Catering, Dnata, Aviation fuelling, Cargo and any
            other concerns closely related to Dubai Airport Operations. The membership to the association is restricted
            for the candidates retired, returned or presently working with Dubai Airports and its associated companies.
            Association functions in four units such as Thiruvananthapuram, Kochi, Trissur and Calicut under the Central
            Board.</p>
        <p class="indent">Association was formed during the year 2012 by the members from Kerala worked at Dubai
            Airports and its
            associated companies such as Airlines, Civil Aviation, Catering, Dnata, Aviation fuelling, Cargo and any
            other concerns closely related to Dubai Airport Operations. The membership to the association is restricted
            for the candidates retired, returned or presently working with Dubai Airports and its associated companies.
            Association functions in four units such as Thiruvananthapuram, Kochi, Trissur and Calicut under the Central
            Board.</p>
    </div>
    <br>
    <div class="assoc">
        <h3> Board of Directors</h3>
        <hr />
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let item of boardMembers">
                <div class="card">
                    <img [src]="item.imageUrl" class="card-img-top board" alt="BoardMembers"
                        referrerpolicy="no-referrer">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{item.designation}}</h5>
                        <div class="card-text text-center">
                            <p class="text-center">{{item.name}}</p>
                            <p class="text-center">{{item.contact}}</p>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <br>
    <div class="pics">
        <h3> Events and Activities</h3>
        <hr />
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" *ngFor="let item of homePhotoUrls">
                    <img [src]="item.photoUrl" class="d-block w-100" alt="Event Images" referrerpolicy="no-referrer">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{item.label}}</h5>
                        <p>{{item.description}}</p>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
    <br>

    <div style="width: 100%; height: 500px; text-align:center;margin:0; padding:0;">
        <ng-image-slider #nav [images]="imageObject" [infinite]="false" [autoSlide]="1"
            [imageSize]="{width: '25%', height: 200}" slideImage="1"></ng-image-slider>
    </div>

</div>